@font-face {
    font-family: 'Sequel';
    src: url(../styles/sequel-100-black-45.ttf);
}

* {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: 'Sequel';
}

.typewriter h1 {
    color: #fff;
    font-family: 'Sequel';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }

#navbar{
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
}
div#navbar li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

#navbar a{
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Sequel';
    font-weight: 900;
    font-size: 20px;
}

#home{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 100px 0 0 140px;
    font-family: 'Sequel';
    height: 100vh;
}

#home h1{
    font-size: 3.5rem;
    margin-top: 200px;
}

.card__content p{
    padding: 0 15px;
}

.cardin {
    width: 440px;
    height: 350px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    margin-top: 130px;
}
   
.tools {
    display: flex;
    align-items: flex-end;
    padding: 8px;
    background-color: #011522;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
   
.circle {
    padding: 0 4px;
    background-color: #011522;
}
   
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
   
.red {
    background-color: #ff605c;
}
   
.yellow {
    background-color: #ffbd44;
}
   
.green {
    background-color: #00ca4e;
}
.card__content p {
    background-color: #011522 ;
}

section#about{
    display: flex;
    justify-content: flex-start;
    font-family: 'Sequel';
    height: 90vh;
}

#about h1{
    margin: 50px 0 0 80px;
}

div#descricao {
    width: 45%;
    margin: 25px 0 0 140px;
}

#descricao p{
    font-size: 18px;
}

img#perfil{
    margin: 120px 130px 0 0;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

#skills{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}
#habs{
    width: 45%;
    margin: 25px 0 0 140px;
}


#skills h1{
    margin: 50px 0 0 80px;
}

#skills p{
    font-size: 18px;
    width: 521px;
}

svg#freepik_stories-developer-activity{
    width: 550px;
    height: 550px;
    margin: 120px 0 0 350px;
}

#portfolio {
    height: 90vh;
}

#portfolio h1{
    margin: 50px 0 0 80px;
}

.card {
    position: relative;
    width: 450px;
    height: 450px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }

  .temporary_text img{
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #000;
    line-height: 15px;
    background-color: #f2f2f2;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color:#000 ;
    background-color: #f2f2f2;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    color: #000;
    background-color: #f2f2f2;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }

  #cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px 0 0 0;
  }

  #contacts{
    height: 90vh;
    display: flex;
    flex-direction: column;
  }


  #contacts h1{
    margin: 50px 0 100px 80px;
}

#contacts_content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

ul{
  display: flex;
  justify-content: space-evenly;
}

li{
  text-decoration: none;
  display: inline;
}

li img{
  margin: 80px 30px 0 30px;
}

img#insta{
  width: 70px;
  height: 70px;
}
img#github{
  width: 70px;
  height: 70px;
}
img#linkedin{
  width: 70px;
  height: 70px;
}

#logos{
  background-color:#f2f2f2 ;
  display: flex;
  justify-content: center;
}

#logos a{
  background-color:#f2f2f2 ;

}

button#source{
  border-radius: 20px;
  margin-left: -45px;
  cursor: pointer;
}

button#source:hover{
  background-color: #fff;
  color: #000;
}

footer{
  margin-bottom: 40px;
  text-align: center;
}

